:root {
    --heading-font: 'Fredoka One', cursive;
    --primary-color: #F07E31;
    --secondary-color: #f4e4d5;
    --hovering-color: #f03131;
}

body {
    text-align: center;
}

.index-img {
    width: 450px;
    border-radius: 5px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 100px auto 50px;
}

.heading-container {
    position: relative;
    bottom: 220px;
    text-align: center;
    color: white;
    height: 0;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 42px;
    line-height: 70px;
}

h3 {
    font-size: 18px;
}

h2 {
    font-size: 30px;
    line-height: 2;
    font-family: var(--heading-font);
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-btn {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 80px;
    transition: all 100ms ease-in-out;
}

.contact-btn:hover {
    color: white;
}

.images {
    width: 400px;

}

.project-presentation {
    margin-top: 90px;
}

p.work-description{
    padding: 0 30px;
    margin: 0 60px 30px;
}

.projects-btn {
    color: var(--primary-color);
    text-align: center;
    padding: 10px 80px;
    border: 2px solid var(--primary-color);
    margin: 30px 0;
}

.projects-btn:hover {
    color: var(--hovering-color);
    font-weight: 500;
}

.about-img {
    width: 450px;
}

.content {
    line-height: 1.7;
}

.content h1 {
    font-size: 32px;
    position: relative;
    left: 60px;
}

p.about-description {
    padding: 20px 0 0 0;
    margin-left: 140px;
}

.links {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.links a {
    display: inline-flex;
    align-items: center;
}
.links a i {
    font-size: 20px;
    padding-right: 5px;
}
.links:hover, 
.links:hover a {
    color: var(--primary-color)
}

.navbar-container {
    background-color: var(--secondary-color);
    padding: 20px;
}

.navbar-symbol {
    font-size: 20px;
    font-weight: 500;
}

nav {
    margin: auto;
}

nav .main {
    font-family: var(--heading-font);
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    padding: 10px;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    transition: all 100ms ease-in-out;
    color: var(--primary-color);
}

.active {
    color: var(--primary-color);
    font-weight: 500;
}

footer {
    margin: 60px 100px 30px;
    padding: 40px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer .email-link:hover {
    color: var(--hovering-color);
}

footer .social-links a {
    padding: 20px;
    color:var(--primary-color);
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--hovering-color);
}

@media (max-width: 900px) {
    .project-presentation {
        margin-top: 0;
    }

    .index-img {
        width: 300px;
    }

    .heading-container h1 {
        font-size: 35px;
    }

    .heading-container h3 {
        font-size: 14px;
    }

    .about-img {
        margin: 50px 30px;
        width: 300px;
    }

    .contact-btn {
        padding: 20px 30px;
    }

    h1 {
        font-size: 22px;
    }

    .content h1 {
        font-size: 22px;
        position: inherit;
    }

    p.about-description {
        padding: 0;
        margin: 20px;
    }

    .navbar-symbol {
        font-size: 12px;
        font-weight: 500;
        line-height: 29px;
    }

    nav li {
        font-size: 12px;
    }

    footer {
        margin: 40px 20px;
        padding: 40px;
    }
}