:root {
    --heading-font: 'Nunito', sans-serif;
    --primary-color: #F07E31;
    --secondary-color: #f4e4d5;
}

body {
    text-align: center;
}

.index-img {
    width: 450px;
    border-radius: 5px;
}
.img-container {
    display: flex;
    justify-content: center;
    margin: 100px auto 50px;
}

.heading-container {
    position: relative;
    bottom: 220px;
    text-align: center;
    color: white;
    height: 0;
}
h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 50px;
    line-height: 70px;
}
h3 {
    font-size: 18px;
}
h2 {
    font-size: 30px;
    line-height: 2;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-btn {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 80px;
}

.images {
    width: 400px;

}
.project-presentation {
    margin-top: 90px;
}

.projects-btn {
    color: var(--primary-color);
    text-align: center;
    padding: 10px 80px;
    border: 2px solid var(--primary-color);
    margin: 30px 0;
}

.about-img {
    width: 450px;
}

.content {
    line-height: 1.7;
}

.navbar-container {
    background-color: var(--secondary-color);
    padding: 20px;
}

.navbar-symbol {
    font-size: 20px;
    font-weight: 500;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 31px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    transition: all 100ms ease-in-out;
    color: var(--primary-color);
}
.active {
    color: var(--primary-color);
    font-weight: 500;
}

footer {
    margin: 60px 100px;
    padding: 40px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer .email-link:hover {
    color: #f03131;
}

footer .social-links a {
    padding: 20px;
    color:var(--primary-color);
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: #f03131;
}

@media (max-width: 900px) {
    .project-presentation {
        margin-top: 0;
    }

    .index-img {
        width: 300px;
    }
    .heading-container h1 {
        font-size: 35px;
    }

    .heading-container h3 {
        font-size: 14px;
    }

    .about-img {
        margin: 50px 30px;
        width: 300px;
    }

    .content h1 {
        font-size: 40px;
    }
    .content p {
        margin: 15px 20px;
    }

    .navbar-symbol {
        font-size: 12px;
        font-weight: 500;
        line-height: 29px;
    }
    nav li {
        font-size: 12px;
    }

    footer {
        margin: 40px 20px;
        padding: 40px;
    }
}